main{
    background-image:map-get($colores ,main );
}

.carousel{
    @include carousel ( 30%, 30%,auto )
        
}
.carousel__index{
    display: flex;
    @include carousel ( 10%, 50%,auto );
        
}
.container__tabla{
    border: solid 0,1em black;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 3em);
    font-size: 1em;
    text-align: center;
        &__precios{
        border: solid 0.01em black; }
}
.uno{
    grid-column-start: 1;
    grid-column-end: 4;
}


